.builder-profile {
    $text-color: #666;

    &__section {
        color: $text-color;
        border-bottom: 1px solid #e6e6e6;
        white-space: nowrap;
        display: block;
        width: 100%;
        vertical-align: top;
        transition: border-color 500ms ease-in-out;

        &__placeholder {
            display: block;
            font-size: 0.8em;
            color: #aaa;
            height: 20px;
            transform: translate(0, 0);
            transition: all 500ms; 
            padding-left: 4px;
        }
    }

    &__summary {
        &__focused {
            border-bottom: 1px solid #0079BD;
            transition: border-color 500ms ease-in-out;        
        }

        &__edit {
            display:inline-block;
            border: none;
            resize: none;
            overflow: hidden;
            outline: none;
            width: 100%;
            color: $text-color;
            background-color: transparent;
            box-shadow: none;
            white-space: pre-wrap;
            margin: 0;
            padding: 1px 1px 4px 4px;
            border-radius: 2px;
            font: normal 0.9em/1.5em "Trebuchet MS","Segoe UI",Candara,"Bitstream Vera Sans","DejaVu Sans","Bitstream Vera Sans",Verdana,"Verdana Ref",sans-serif;
        }  
    }

    &__trade {
        &__view {
        }

        &__edit {
            height: 100px;
            overflow-y: scroll;
            color: $text-color;
            font-size: 0.9em;
            line-height: 1.5em;
            
            &__option {
                margin-top: 5px;
            }

            &__checker {
                position: relative;
                display: none;
            }

            &__option--name {
                margin-left: 5px;   
            }
        }
    }

    &__test--div {
        border-radius: 10px;
        height: 300px;
        max-height: 300px;
    }
}



