<div class="builder-profile">
    <div class="builder-profile__section"
        [ngClass]="{'builder-profile__summary__focused':isSummaryEditable}"
        tabindex="-1">
        <label class="builder-profile__section__placeholder">
            Summary
        </label>
        <textarea #summaryEditable auto-resize
            class="builder-profile__summary__edit" 
            [(ngModel)]='summary'
            (focus)="editSummary($event)"
            (focusout)="viewSummary($event)"></textarea>    
    </div>
    <br/>
    <div class="builder-profile__section">
        <label class="builder-profile__section__placeholder">
            Trades
        </label>
        <div class="builder-profile__trade__edit">
            <div *ngFor="let trade of trades" class="builder-profile__trade__edit__option">
                <label class="c-checkbox-sm">
                    <input type="checkbox" class="builder-profile__trade__edit__checker" name="radio">
                    <i class="c-bg-primary"></i>
                    <span class="builder-profile__trade__edit__option--name">{{trade.name}}</span>
                </label>
            </div>
        </div>
    </div>
</div>